{{ define "main" }}
<h1>{{ .Title }}</h1>
{{/* Table of Contents */}}
{{ .Content }}

<div id="toc_container">
<h4>Overview</h4>
<ul class="toc_list">
{{ range .Pages.ByTitle }}
  <li><big><a href="#{{ .Title }}">{{ .Title }}</a></big>
    {{ $parent := .Title }}
    <ul>
      {{ range sort .Pages "Dir" "asc" }}
      <li><a href="#{{ $parent }}.{{ .Title }}">{{ .Title }}</a> - {{ .Params.short }}</li>
      {{ end }}
    </ul></li>
{{ end }}
</ul>
</div>

{{/* Details */}}
<h4>Details</h4>
{{ range .Pages.ByTitle }}
  <h3 id="{{ .Title }}"><a href="#{{ .Title }}">{{ .Title }}</a></h3>
  {{ $parent := .Title }}
  {{ range .Pages.ByTitle }}
    <h4 id="{{ $parent }}.{{ .Title }}"><a href="#{{ $parent }}.{{ .Title }}">{{ .Title }}</a> - <small>{{ .Params.short }}</small></h4>
    <div>
      {{ .Content }}
    </div>
  {{ end }}
{{ end }}

<style type="text/css">
#toc_container {
    display: table;
    font-size: 95%;
    width: auto;
    margin-top: 1em;
}

.toc_list {
  margin: 0;
  padding: 0;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
</style>
{{- partial "edit-meta.html" . -}}
{{- partial "pagination.html" . -}}
{{ end }}
