{{ range .Page.Pages.ByWeight  }}
<div class="row">
  <div class="col-md-12">
  {{ if .Page.Params.headshot }}
    {{ partial "candidate" . }}
  {{ else }}
    <h{{ $.level }} id="{{ urlize .Page.Title }}"><a class="js-scroll-nav" href="#{{ urlize .Page.Title }}">{{ .Page.Title }}</a></h{{ $.level }}>
    {{ if .Page.Params.short }}<p class="lead">{{ .Page.Params.short }}</p>{{ end }}

    {{ if .Page.Content }}
      {{ .Page.Content }}
    {{ end }}

    {{ if .Page.Pages }}
      {{ partial "election-detail.html" (dict "Page" . "level" (add $.level 1)) }}
    {{ end }}
  {{ end }}
  </div>
</div>
{{ end }}
