{{ define "main" }}

{{ with .Site.GetPage "framework"}}
<div class="row">
  <div class="col-md-12">
    <h1>Tech Worker Voter Guide</h1>
    {{ .Content }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>March 2020 Voting Guide</h2>
    <p>If you don't want to read the <a href="{{ ref . "elections/2020-march" }}">full March 2020 voter guide</a>, look at the tl;dr below:</p>
    {{ with .Site.GetPage "elections/2020-march" }}
      {{ range .Page.Pages.ByWeight  }}
      <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
        {{ range .Page.Pages.ByWeight  }}
        <h5><a href="{{ .URL }}">{{ .Title }}</a></h5>
        <div class="row">
          {{ partial "election-tldr.html" (dict "Page" . "level" 2) }}
        </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h2>Our framework</h2>
    <ul class="toc_list">
    {{ range .Pages.ByTitle }}
      <li><big><a href="#{{ .Title }}">{{ .Title }}</a></big>
        {{ $parent := .Title }}
        <ul>
          {{ range sort .Pages "Dir" "asc" }}
          <li><a href="#{{ $parent }}.{{ .Title }}">{{ .Title }}</a> - {{ .Params.short }}</li>
          {{ end }}
        </ul></li>
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}

{{ end }}
